/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body dan Font */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #2a9d8f;
    padding: 20px;
    color: #fff;
    text-align: center;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav ul.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul.nav-links li {
    margin: 0 15px;
}

nav ul.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul.nav-links li a:hover {
    color: #e9c46a;
}

/* Hero Section */
.hero {
    background: url('gambar/icetea.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 150px 50px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #e9c46a;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #f4a261;
}

/* Footer */
footer {
    background-color: #2a9d8f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    nav ul.nav-links {
        flex-direction: column;
        padding: 10px 0;
    }

    nav ul.nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero .btn {
        font-size: 1rem;
        padding: 12px 25px;
    }
}
